@page "/CreateUpdateSystems/{ClientId}/{Id:int}"
@inherits CreateUpdateSystemsBase
@inject HttpClient httpClient
@if (Id > 0)
{
    <h3><strong>Edit System</strong></h3>
}
else
{<h3><strong>New System</strong></h3>}
<br />
@if (systemsRequest != null)
{

<EditForm Model="systemsRequest" OnValidSubmit="FormSave" Context="EditForm">
    <DataAnnotationsValidator />

    <label>Client ID</label><br />
    <InputSelect @bind-Value="SelectedClientId" class="MTS-CSS-dropDownList">

        @foreach (var client in clients)
            {
            <option value="@client.Id"> @client.Name</option>

            }
    </InputSelect>

    <br />


    <label class="col-form-label" style="display:inline-block; text-align:right">Name</label><br />
    <InputText class="MTS-CSS-inputText form-control" style="height:27px; width:350px" placeholder="Name" @bind-Value="systemsRequest.Name" />
    <ValidationMessage For="@(() => systemsRequest.Name)" />
    
    <label class="col-form-label" style="display:inline-block; text-align:right">Description</label><br />
    <InputText class="MTS-CSS-inputText form-control" style="height:27px; width:350px" placeholder="Description" @bind-Value="systemsRequest.Description" />
    <ValidationMessage For="@(() => systemsRequest.Description)" />
    <br />
    @*<label class="col-form-label" style="display:inline-block; text-align:right">ID</label><br />
    <label class="col-form-label" style="display:inline-block; text-align:right" >@SysID</label><br />*@
   
    <label style="display: inline-block; text-align: right">Status</label> &nbsp;

    <label class="MTS-CSS-toggleSwitchContainer">

            <InputCheckbox class="MTS-CSS-checkBox" @bind-Value="SystemIsEnabled" />

            <span class="MTS-CSS-slider"></span>

        </label>
    <br /> 
    <br />
    <button class="MTS-CSS-button-variant-01 text-white" type="submit">Save</button> &nbsp;
    <button class="MTS-CSS-button-variant-04 text-white" type="button" @onclick="@NewSystemCancel">Cancel</button>


</EditForm>
   
    <br />
    <br />
}


